body {
    background-color: #f7e9c6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

#container {
    width: 400px;
    margin: 75px auto;
    position: relative;

}

#addTaskTitleDiv {
    background-color: #d28e1a;
    border-radius: 20px;
    width: 500px;
    height: 300px;
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Set the direction of the flexbox layout to column */
    align-items: center; /* Center child elements vertically */
    justify-content: center; /* Center child elements horizontally */
}

h1 {
    position: relative;
    text-align: center;
    top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    position:relative;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
}

.box1 {
    margin-top: 20px;
    width: 400px;
    height: 170px;
    border-radius: 20px;
    background-color: #c89179;
}

.box2 {
    width: 400px;
    height: 170px;
    border-radius: 20px;
    background-color: #eed6cc;
}

.date {
    
}




